$_main_color_text: #888888;
$_white_color: #ffffff;
$_black_color: #000000;
$_pink_color: #E056F5;
$_blue_color: #39D2D9;
$_yellow_color: #FFD209;
$_background_color: #F4F4F4;

$_gradient_color_hero_1: #00939A;
$_gradient_color_hero_2: #9DA1F0;
$_gradient_color_hero_3: #E056F5;

$_gradient_color_cookie_1: #ED8A08;
$_gradient_color_cookie_2: #D88F00;

